[submodule "Prime"]
	path = Prime
	url = https://github.com/PietroCarrara/Prime.git

[submodule "EditorHtml"]
	path = EditorHtml
	url = https://github.com/PietroCarrara/OverlordEditorDependencies.git
